body{
    background-color: white;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}

.input{
    width: 400px;
    height: 45px;
    border-radius: 10px;
}

.title{
    margin-left: 30%;
}

.btnn{
    width: 10%;
    height: 40px;
    margin-left: 45%;
}

.heads{
    background-color: white;
}

.logo {
    float: left;
    width: 60px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.footer{
    width: 100%;
    margin: 0;
    margin-top: 20%;
    background-color: #4A4A4A;
    color: white;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}