.SpaceandButton {
    display: flex;
    margin-top: 50px;
}

.ButtonTM {
    height: 40px;
    margin-left: 50px;
    font-size: 17px;
    font-weight: 500;
}
.Search{
    margin-left: 50px;
    width: 500px;
}
.TableCS {
    margin-top: 40px;
    width: 84vw;
    
}