.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.container h4{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ant-btn-primary {
  margin-right: 24px;
}

.title-course{
  text-align: center;
  font-size: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
}

.headdd{
  width: 100%;
  height: 10px;
}

.logo-container img {
  width: 100px;
  height: 50px;
}

.footer2{
  width: 100%;
  margin: 0;
  margin-top: 10%;
  background-color: #4A4A4A;
  color: white;
  font-size: 50px;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contents-course{
display: inline-block;
}

.contents3{
display: flex;
margin-top: -10%;
}

.card5{
width: 20%;
margin-top: 14%;
margin-left: 4%;
font-size: large;
}

.card6{
  width: 20%;
  margin-top: 14%;
  margin-left: 40%;
  font-size: large;
  }

.footer2 h6{
text-align: center;
}