/* .Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
} */
.Buttonheader{
    background: blue !important;
    height: 40px;
    width: 140px;
    color: white;
    font-size: 20;
    border: none;
}
:hover.Buttonheader {
    height: 40px;
    font-size: 20;
    background: red !important;
    color: white !important;
    text-decoration: none;
} 
