.Header{
    height: 90x;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.Buttonheader{
    background: blue !important;
    margin-right: 40px;
}
