.SpaceandButton {
    display: flex;
    margin-top: 50px;
}

.ButtonTM {
    height: 40px;
    margin-left: 50px;
    font-size: 17px;
    font-weight: 500;
}
.TableCS {
    margin-top: 40px;
    width: 84vw;
}
.Space{
    margin-left: 550px;
}
.BTSpace {
    margin-top: 50px;
}
.Title-Modal {
    padding: 10px;
}