.Footer{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: black;
}
.Title {
    padding: 5px;
    color: white;
    font-size: 25px;
    margin-top: 20px;
   
}
