*{
    padding: 0;
    margin: 0;
}

/* .AdminApp{
    display: flex;
    flex-direction: column;
    width: 98vw;
    height:10vh;
} */
.SideMenuAndPage{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 20px;
}