.AdminApp{
    display: flex;
    flex-direction: column;
    width: 98vw;
    height:100vh;
}
.SideMenuAndPage{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}