body {
  margin: 0;
  padding: 0;
}

img {

  width: 100%;
}

.body h2 {
  font-size: 40px;
  padding-top: 5%;
  padding-left: 5%;
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 65px;
}

p {
  color: white;
}

.paragraph-large li {
  list-style: none;
}

#stuff-content {
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #fff;
  z-index: 10;
}

.header-nav {
  margin-left: 2%;
  width: 100%;
}

.header-brand {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.header .brand-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header .brand-name {
  color: #212121;
  width: max-content;
  font-size: 25px;
}

.header .login-btn {
  background-color: #3498db;
  margin-right: 20px;
}

.body {
  width: 100%;
  height: 200px;
}

.paragraph-large {
  width: 450px;
  height: 250px;
  text-align: center;
  font-size: 25px;
}

.paragraph-large {
  width: 450px;
  height: 250px;
  text-align: center;
  font-size: 25px;
}

.brown {
  width: 100%;
  height: 700px;
  position: relative;
}

.banner {
  width: 100%;
  height: 700px;
  background: white;
  display: flex;
}

.banner h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 10%;
  padding-left: 65%;
  font-weight: 800;
  color: rgb(173, 102, 170);
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  position: absolute;
}
.banner p {
  text-align: center;
  font-size: 20px;
  padding-top: 17%;
  padding-left: 63%;
  padding-right: 20px;
  font-weight: 50;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: absolute;
}
.banner button {
  position: absolute;
  background-color: #ff6b6b;
  margin-top: 27%;
  margin-left: 75%;
  width: 200px;
  height: 60px;
  padding: 5px;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.des {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  display: flex;
  border: 1px gray solid;
  background-color: gray;
}

.des img {
  width: 50%;
}

.des p {
  width: 40%;
  padding-left: 6%;
  padding-top: 5%;
  color: white;
  font-size: 25px;
}

.spec {
}

.course1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.course1 .ant-card {
  width: 30%;
  margin-left: 2.5%;
}


.course2 {
  display: flex;
  margin-top: 20px;
}
.course2 .ant-card {
  width: 30%;
  margin-left: 2.5%;
}

.title-course h2 {
  text-align: center;
  color: black;
}

.footer1 {
  width: 100%;
  margin: 0;
  margin-top: 5%;
  background-color: #4a4a4a;
  color: white;
  font-size: 50px;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  bottom: -1530px;
}

.text {
  margin-left: 30%;
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
}

.landing-btn {
  width: 30%;
  height: 50px;
  margin-top: 5%;
  margin-left: 40%;
  font-size: 25px;
  border-radius: 10px;
  background-color: #3498db;
}

.path-card1 {
  align-items: center;
  width: 20%;
  height: 200px;
  margin-top: 2%;
  margin-left: 10%;
  background: linear-gradient(to right, #f6e58d, #ffbe76);
}

.path-card2 {
  width: 20%;
  height: 200px;
  margin-top: 2%;
  margin-left: 10%;
  background: linear-gradient(to right, #f6e58d, #ffbe76);
}

.path-card3 {
  width: 20%;
  height: 200px;
  margin-top: 2%;
  margin-left: 10%;
  background: linear-gradient(to right, #f6e58d, #ffbe76);
  font-size: 18px;
}

.path {
  width: 80%;
  height: 300px;
  display: flex;
  background: linear-gradient(to right, #ff6b6b, #c0c0c0);
  margin-top: 30px;
  
  align-items: center;
  margin-left: 10%;
  border-radius: 16px;
  font-size: 18px;
}

#content-path {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  font-weight: bold;
  font-style: italic;
  color: rgb(173, 102, 170);
  font-family: 'Montserrat', sans-serif;

}

.left-footer {
  width: 33.3%;
}

.left-footer p {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.mid-footer {
  width: 33.3%;
}

.mid-footer a {
  margin-left: 20%;
  font-size: 30px;
}

.right-footer {
  width: 33.3%;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding-left: 100px;
}
.right-footer p {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.footer1 h6 {
  text-align: center;
}

.paragraph-large li {
  list-style: none;
}
.brand-name {
  font-weight: 700;
}
