.SpaceandButton {
    justify-content: space-between;
}
.ButtonTM {
    height: 40px;
    font-size: 17px;
    font-weight: 500;
    background: blue !important;
}
/* .Search {
    background: blue !important;
    border-radius: 6px;
    border:0.5px solid blue;
} */