/* .footer1{
    width: 100%;
    margin: 0;
    margin-top: 180%;
    background-color: #4A4A4A;
    color: white;
    font-size: 50px;
    text-align: center;
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
} */
.Footer{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: black;
}
.Title {
    padding: 5px;
    color: white;
    font-size: 25px;
    margin-top: 20px;
   
}
