.SpaceandButton {
    justify-content: space-between;
}
.ButtonTM {
    height: 40px;
    font-size: 17px;
    font-weight: 500;
}
.searchClass{
    background: blue !important;
    border-radius: 4px;
    border:0.5px solid blue;
}